html, body{	

margin: 0px;
background-image: linear-gradient(to bottom right, #95d9f9, #ae4bc3);
background-attachment:fixed;/*this is not written in the book this help to fix the page and the gradient to not repeat*/

}

h1{	
	margin:0px;
	-webkit-text-stroke: 2px white;
	color: #1b95cd;
	font-family: Tahoma, Geneva, sans-serif;
	opacity: 60%;
	position: absolute;

}

.globe {
text-align: center;
margin-top: 150px;
}
.globe_image {
height: 70vh;
}